:root {
  --bg: #eeefef;
  --white: #ffffff;
  --blue: #6486b8;
  --lightblue: #9fc6ff; 
  --border: 0.1rem solid rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header_top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.header_top a{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 2px; 
  color: var(--blue);
  text-decoration: none;
}
.icon {
  height: 16px;
  width: 16px;
  object-fit: cover;
}
.moldura
{
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1450px;
  height: 660px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  padding: 20px;
  background: linear-gradient(
    0deg,
    hsla(216, 37%, 55%, 1) 6%,
    hsla(202, 78%, 82%, 1) 67%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(216, 37%, 55%, 1) 6%,
    hsla(202, 78%, 82%, 1) 67%
  );

  background: -webkit-linear-gradient(
    280deg,
    hsla(216, 37%, 55%, 1) 6%,
    hsla(202, 78%, 82%, 1) 67%
  );
}
.hero-img {
  position: absolute;
  bottom: 0;      
  right: 70px;        
  width: 600px;  
  height: auto;
}
.header_main{
  width: 90%; 
  display: flex;
  justify-content: space-between; 
  margin: 20px 50px;
  align-items: center;
  padding: 2rem 0;
}
.navbar a {
  position: relative;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--white);
  padding: 4px 20px;
  letter-spacing: 0.5px;
  box-shadow: 0 2 rgba(255, 255, 255, 1);
}

.navbar a:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.navbar a:hover {
  color: #ffffff;
}
.navbar a:hover:after {
  width: 100%;
}

.hero{
  width: 90%; 
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.hero h1{
  width: 500px;
  color: #ffffff;
  font-weight: bold;
  font-size: 64px;
  line-height: 58px;
}

.stars{
  margin-top: 50px;
}
.stars img{
  width: 80px;
}
.btn-fale button {
  background-color: #ffffff;
  color: var(--lightblue);
  font-weight: 500;
  height: 40px;
  width: 300px;
  border: none;
  justify-content: center;
  font-size: 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px; 
  cursor: pointer;
  margin-top: 35px;
  transition: background-color 0.3s;
}

.btn-fale button:hover {
  border: 2px double #9fc6ff;
}

.btn-fale img {
  width: 50px;
}

html,
body {
  background: rgb(255, 255, 255);
  min-height: 1000px;
}
